body {
    width: 233px;
    height: 400px;
    margin: 0px;
    font-size: var(--font-size-lg);
    color: var(--color-black);
}

@font-face {
    font-family: 'Satoshi-Light';
    src: url('../fonts/Satoshi-Light.woff2') format('woff2'),
        url('../fonts/Satoshi-Light.woff') format('woff'),
        url('../fonts/Satoshi-Light.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}

#BarMenu {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    font-family: 'Satoshi-Light';
    color: #FFFFFF;
}

.Background {
    display: block;
    background: linear-gradient(180deg, #130F40 0%, #262534 100%);
    position: absolute;
    height: 400px;
    left: 0px;
    top: 0px;
    width: 233px;
}

.RectangleTitre {
    width: 100px;
    height: 35px;
    left: 70px;
    top: 16px;
    background: #FFFFFF;
    border-radius: 30px;
    position: absolute;
}

.Titre {
    width: 76px;
    height: 20px;
    left: 82px;
    top: 14px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: #130F40;
    position: absolute;
}

.Icone {
    width: 54.85px;
    height: 59px;
    position: absolute;
    left: 8px;
    top: 4px;
}

.Notification {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 205px;
    top: 75px;
}

.BarMenu {
    display: block;
    width: 233px;
    height: 28px;
    left: 0px;
    top: 68px;
    background: #3C3875;
    position: absolute;
}

.Preferences {
    position: absolute;
    width: 54px;
    height: 11.93px;
    left: 11px;
    top: 76px;
}

.Score {
    position: absolute;
    width: 26px;
    height: 14px;
    left: 90px;
    top: 76px;
}

.Apropos {
    position: absolute;
    width: 41px;
    height: 14px;
    left: 137px;
    top: 76px;
    white-space: nowrap;
}

#RectangleMenu {
    background: linear-gradient(180deg, #191547 0%, #1C1849 100%);
    border-radius: 5px 5px 0px 0px;
    display: block;
}

.RectangleApropos {
    position: absolute;
    width: 59px;
    height: 23px;
    left: 131px;
    top: 73px;
}

.SousTitre1 {
    position: absolute;
    width: 47px;
    height: 16px;
    left: 96px;
    top: 128px;

    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* TEST */
.RectangleDev {
    position: absolute;
    width: 80px;
    height: 32px;
    left: 24px;
    top: 318px;

    background: #FFFFFF;
    border-radius: 30px;
}

.boutonpoledev {

    position: absolute;
    width: 80px;
    height: 32px;
    left: 24px;
    top: 318px;

}

.Ecriture {

    position: absolute;
    width: 48px;
    height: 16px;
    left: 40px;
    top: 326px;
    text-decoration: none;
    white-space: nowrap;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;

    color: #000000;

}

.flecheretour {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 30px;
    top: 130px;

    background: src="images/fleche.png";
}

.teamwork {
    position: absolute;
    width: 165.34px;
    height: 104px;
    left: 33px;
    top: 171px;
}

.Ecriture2 {
    position: absolute;
    width: 44px;
    height: 16px;
    left: 148px;
    top: 326px;
    text-decoration: none;
    white-space: nowrap;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;

    color: #000000;

}

/* j'ai l'impression que rectangle et bouton c'est la même chose et que on peut supprimer l'un sans changer l'autre
mais je suis pas sûr donc dans le doute je supprime pas*/
.BoutonpoleUX {
    position: absolute;
    width: 80px;
    height: 32px;
    left: 130px;
    top: 318px;

    opacity: 0.8;
}

.RectangleUX {

    position: absolute;
    width: 80px;
    height: 32px;
    left: 130px;
    top: 318px;

    background: #FFFFFF;
    border-radius: 30px;
}

.SousTitre2 {
    position: absolute;
    width: 116px;
    height: 16px;
    left: 59px;
    top: 120px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    white-space: nowrap;
    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.SousTitre3 {
    position: absolute;
    width: 45px;
    height: 16px;
    left: 94px;
    top: 118px;
    white-space: nowrap;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.flecheretour2 {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 27px;
    top: 122px;
}

.Photo1 {
    position: absolute;
    width: 54px;
    height: 94px;
    left: 30px;
    top: 149px;
}

.Photo2 {
    position: absolute;
    width: 104px;
    height: 192px;
    left: 123px;
    top: 100px;
}

.Photo3 {
    position: absolute;
    width: 60px;
    height: 104px;
    left: 33px;
    top: 252px;
}

.Photo4 {
    position: absolute;
    width: 57px;
    height: 99px;
    left: 141px;
    top: 252px;
}

.Prenom1 {
    position: absolute;
    width: 84px;
    height: 25px;
    left: 25px;
    top: 231px;
    white-space: nowrap;
    font-family: 'Satoshi-Light';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;

    color: #FFFFFF;


}

.Prenom2 {
    position: absolute;
    width: 87px;
    height: 16px;
    left: 131px;
    top: 231px;

    white-space: nowrap;
    font-family: 'Satoshi-Light';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;

    color: #FFFFFF;
}

.Prenom3 {
    position: absolute;
    width: 79px;
    height: 16px;
    left: 23px;
    top: 343px;

    white-space: nowrap;
    font-family: 'Satoshi-Light';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;

    color: #FFFFFF;


}

.Prenom4 {
    position: absolute;
    width: 74px;
    height: 16px;
    left: 138px;
    top: 343px;

    white-space: nowrap;
    font-family: 'Satoshi-Light';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;

    color: #FFFFFF;
}

.PhotoUX1 {
    position: absolute;
    width: 54px;
    height: 94px;
    left: 31px;
    top: 150px;
}

.PhotoUX2 {
    position: absolute;
    width: 64px;
    height: 119px;
    left: 137px;
    top: 138px;
}

.PhotoUX3 {
    position: absolute;
    width: 57px;
    height: 99px;
    left: 31px;
    top: 253px;
}

.PhotoUX4 {
    position: absolute;
    width: 57px;
    height: 99px;
    left: 136px;
    top: 258px;
}

.PrenomUX1 {
    position: absolute;
    width: 87px;
    height: 16px;
    left: 18px;
    top: 232px;

    white-space: nowrap;
    font-family: 'Satoshi-Light';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;

    color: #FFFFFF;


}

.PrenomUX2 {
    position: absolute;
    width: 89px;
    height: 16px;
    left: 125px;
    top: 232px;

    white-space: nowrap;
    font-family: 'Satoshi-Light';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;

    color: #FFFFFF;


}

.PrenomUX3 {
    position: absolute;
    width: 77px;
    height: 16px;
    left: 23px;
    top: 344px;

    white-space: nowrap;
    font-family: 'Satoshi-Light';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;

    color: #FFFFFF;


}

.PrenomUX4 {
    position: absolute;
    width: 66px;
    height: 16px;
    left: 136px;
    top: 344px;

    white-space: nowrap;
    font-family: 'Satoshi-Light';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;

    color: #FFFFFF;
}